DB_URL=jdbc:mysql://localhost:3307/pocketpick_auth
DB_USERNAME=root
DB_PASSWORD=your-password
SERVER_PORT=8081
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_SECRET=your-jwt-secret
JWT_ACCESS_EXPIRATION=1800000
JWT_REFRESH_EXPIRATION=604800000
INTERNAL_API_KEY=your-internal-api-key
